<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bulma.css">
    <title>Jeopardy | Gameboard</title>
</head>

<body>
    <section class="section">
        <div class="container is-full">
            {{#each questions}}
            <div class="columns">
                <div class="column has-text-centered card">
                    <p>{{this.category}}</p>
                </div>
                <div class="column has-text-centered card">
                    <p>{{this.questionOne}}</p>
                </div>
                <div class="column has-text-centered card">
                    <p>{{this.questionTwo}}</p>
                </div>
                <div class="column has-text-centered card">
                    <p>{{this.questionThree}}</p>
                </div>
                <div class="column has-text-centered card">
                    <p>{{this.questionFour}}</p>
                </div>
                <div class="column has-text-centered card">
                    <p>{{this.questionFive}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</body>

</html>